/********************** 
**** variables css **** 
**********************/
:root{
	--colorTextMenu: #4a4a4a;
	--colorTitleMain: #3CDBC0;
	--colorBackground: #FFFFFF;
}



/********************** 
**** Header **** 
**********************/




/********************** 
********* main ********* 
**********************/
/*  */



/*  */


/********************** 
******** footer ******* 
**********************/



/********************** 
**** media queries **** 
**********************/